:root {
  --color-white: white;
  --color-off-white: #f1f3f5;
  --color-grey: #e2e5e9;
  --color-dark-grey: #838b92;
  --color-black: black;
  --color-dark-brown: #4d3a3a;
  --color-blue: #59abff;
  --color-light-blue: #8ec6ff;
  --color-dark-blue: #4d9ae6;
  --fonts-acme: Acme;
  --fonts-roboto: Roboto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  align-items: center;
  justify-items: center;
  width: 100vw;
  max-width: 100%;
  -webkit-user-select: var(--color-dark-brown);
  background-image: linear-gradient(120deg, #dcf3ff 0%, #59abff 100%);
}
/* Header */
.header {
  grid-area: header;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 70%;
  height: 18rem;
  -webkit-user-select: none;
}

.header-heading {
  font-family: var(--fonts-acme);
  font-size: 5rem;
  color: var(--color-off-white);
  letter-spacing: 0.5rem;

  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(181, 181, 181, 0.248);
}

.header-image {
  height: 40%;
  color: var(--color-off-white);
  filter: drop-shadow(0.2rem, 0.4rem, 0.6rem var(--colors-black));
}

/* Main */
.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "form"
    "list";
  align-content: space-between;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 5fr;
  min-height: calc(100vh - 26rem);
  width: 100%;
}

/* Form */
.main-form {
  grid-area: form;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 65%;
}

.main-add-input {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  width: 80%;
  height: 70%;
  border: none;
  border-radius: 3rem;
  background: var(--color-white);
  box-shadow: 0.2rem 0.2rem 1rem rgba(102, 102, 102, 0.1);
  border: 0.2rem solid var(--color-off-white);
}

.main-add-input::placeholder {
  color: var(--color-grey);
  font-style: italic;
  text-align: center;
}

.main-add-input::selection {
  background-color: #4d3535;
  color: var(--color-white);
}

.main-add-input:focus {
  outline: 0;
  color: var(--color-dark-brown);
}

.main-add-button {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.2rem 1.5rem;
  border: 0.2rem solid var(--color-off-white);
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0.2rem 0.2rem 1rem rgba(102, 102, 102, 0.1);
  background-color: var(--color-white);
}

.main-add-button__icon {
  color: var(--color-dark-blue);
  pointer-events: all;
  transition: all 0.3s ease;
}

.main-add-button:hover .main-add-button__icon {
  color: var(--color-light-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-add-button:active .main-add-button__icon {
  transform: rotateZ(135deg);
}

.main-add-button:focus {
  outline: none;
}

/* Main List */

.main-list {
  grid-area: list;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-family: var(--fonts-roboto);
  row-gap: 1rem;
}

.main-list-item {
  display: grid;
  grid-template-areas: "heading button";
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.main-list-item__heading {
  grid-area: heading;
  color: var(--color-dark-brown);
  width: 30rem;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 3rem;
  border: 0.2rem solid var(--color-off-white);
  background-color: var(--color-white);
  box-shadow: 0.2rem 0.2rem 1rem rgba(102, 102, 102, 0.1);
}

.main-list-item__heading::selection {
  background-color: var(--color-dark-brown);
  color: var(--color-white);
}

.main-delete-button {
  padding: 1rem 1.2rem;
  cursor: pointer;
  font-size: 1.8rem;
  border: 0.2rem solid var(--color-off-white);
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0.2rem 0.2rem 1rem rgba(102, 102, 102, 0.131);
  background-color: var(--color-white);
  grid-area: button;
  outline: none;
}

.main-delete-button__icon {
  color: #e84b42;
  transition: all 0.3s ease;
}

.main-delete-button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0.2rem 0.2rem 1.3rem rgba(85, 85, 85, 0.213);
}

.main-delete-button:active,
.main-delete-button:focus {
  transform: translateY(0);
  box-shadow: 0.2rem 0.2rem 1rem rgba(92, 92, 92, 0.131);
}
/* Footer */
.footer {
  grid-area: footer;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link,
.footer-link:visited {
  text-decoration: none;
  color: var(--color-dark-brown);
  font-family: var(--fonts-acme);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
}

.footer-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background: var(--color-off-white);
  position: absolute;
  bottom: 10%;
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 0.1rem;
}

.footer-link:hover {
  transition: all 0.3s ease;
}

.footer-link:hover::after {
  height: 1.65rem;
}
